@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
*,*::before,*::after{
  box-sizing:border-box;
  margin:0;
  padding: 0;
}

.services,
.products,
.sign-up,
.consulting,
.contact-us,
.marketing,
.development ,
.design{
  display: flex;
  height: 90vh;
  align-items: center;
  text-align:center;
  justify-content: center;
  font-size: 5rem;
 
}

.services{
 background-image:linear-gradient(to right,hsl(0, 0%, 0%, 0.7),hsl(0, 0%, 0%, 0.3)),url("./images/pexels-mabel-amber-128299.jpg") ;
 background-position: center;
 background-size:cover;
 background-repeat:no-repeat;
 width:100%;
 height:1000px;
 color:#fff;

}

.products{
 background-image:linear-gradient(to right,hsl(0, 0%, 0%, 0.7),hsl(0, 0%, 0%, 0.1)),url("./images/Product-1.jpg") ;
 background-position: center;
 background-size:cover;
 background-repeat:no-repeat;
 width:100%;
 height:1000px;
 color:#fff;

}

.sign-up{
 background-image:linear-gradient(to right,hsl(0, 0%, 0%, 0.7),hsl(0, 0%, 0%, 0.1)),url("./images/pexels-ellie-burgin-3362702.jpg");
 background-position:center;
 background-size: cover;
 background-repeat: no-repeat;
 height:1000px;
 width:100%;
 color:#fff;
}

.consulting{
 background-image:linear-gradient(to right,hsl(0, 0%, 0%, 0.1),hsl(0, 0%, 0%, 0.7)),url("./images/pexels-alex-green-5691866.jpg") ;
 background-position: center;
 background-size:cover;
 background-repeat:no-repeat;
 width:100%;
 height:1000px;
 color:#fff;
}
.contact-us{
 background-image:linear-gradient(to right,hsl(0, 0%, 0%, 0.7),hsl(0, 0%, 0%, 0.3)),url("./images/development-1.jpg");
 background-position: center;
 background-size:cover;
 background-repeat:no-repeat;
 width:100%;
 height:1000px;
 color:#fff;
}
.marketing{
 background-image:linear-gradient(to right,hsl(0, 0%, 0%, 0.7),hsl(0, 0%, 0%, 0.3)),url("./images/pexels-negative-space-34639.jpg") ;
 background-position: center;
 background-size:cover;
 background-repeat:no-repeat;
 width:100%;
 height:1000px;
 color:#fff;
} 
.development{
 background-image:url("./images/Development-3.jpg") ;
 background-position: center;
 background-size:cover;
 background-repeat: no-repeat;
 height: 1000px;
 width:100%;
 color:#fff;

}

.design{
 background-image:linear-gradient(to right,hsl(0, 0%, 0%, 0.7),hsl(0, 0%, 0%, 0.3)),url("./images/design-1.jpg") ;
 background-position:center;
 background-size: cover;
 background-repeat: no-repeat;
 height:1000px;
 width:100%;
 color:#fff;

}

